<%= render 'flash_messages' %>

<div class="jumbotron">
  <h1 class="display-4">Welcome to Penca!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper turpis massa, vitae porttitor purus blandit sed. Donec porttitor, ligula vitae aliquet placerat, sapien felis blandit nunc, nec malesuada urna nibh at sapien. Nullam eu eros neque. Cras lobortis ex a nulla fringilla ultricies. Ut vehicula diam sem, nec condimentum diam commodo in. Nulla vitae velit nulla. Nam enim arcu, pellentesque vitae purus vitae, finibus rutrum nibh. Phasellus nec fermentum nisi. Duis in magna ornare, venenatis sapien ac, pulvinar neque. Integer ut rhoncus sapien. Ut imperdiet nisi enim, eu volutpat ante elementum ac. Nulla ut ipsum diam. Curabitur maximus fermentum lectus, at lobortis urna sollicitudin in. Mauris vitae turpis ac nulla tempor faucibus nec a diam.</p>
</div>

