<%= render 'flash_messages' %>
<div class="card">
  <div class="card-body">
    <ul class="list-unstyled">
      <li>Los resultados se pueden cargar/modificar hasta 5 minutos antes del inicio de cada partido.</li>
      <li>Para que los resultados queden correctamente cargados, deben presionar la opción guardar resultados al final de la página.</li>
      <li>En una primera instancia solo se podrá cargar los partidos correspondientes a la fase de grupos, se premiará al finalizar esta etapa las primeras tres posiciones.</li>
      <li>Puntuaciones:
        <ol>
          <li>Por acertar ganador, perdedor o empate corresponden 5 pts, resultado exacto genera 10 pts adicionales.</li>
          <li>A partir de la segunda fase (octavos de final), en caso de seleccionar empate, además de cargar el resultado, deberá cargar la selección que pasa a la siguiente fase. Vale aclarar que cuando seleccionamos un empate corresponde al resultado durante los 120 min (90 minutos del partido y 30 minutos de alargue).</li>
        </ol>
      </li>
      <li>Premios:
        <ul>
          <li>Fase de grupos:
            <ul>
              <li>Primer puesto. Cena en porfiado para 2 personas, merchandising de Zagro.</li>
              <li>Segundo puesto: merchandising de Zagro.</li>
              <li>Tercer puesto: merchandising de Zagro.</li>
            </ul>
          </li>
          <li>Fase final:
            <ul>
              <li>Primer puesto: 1000 USD y merchandising de Zagro.</li>
              <li>Segundo puesto: una cena en porfiado para 2 personas y merchandising de Zagro.</li>
              <li>Tercer puesto: merchandising de Zagro.</li>
            </ul>
          </li>
          <li>En caso de haber un empate final, el premio mayor (USD 1000) será repartido entre los ganadores.</li>
          <li>En el caso del merchandising de Zagro en caso de haber mas de dos participantes que compartan la posición se sortearan los premios.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
