<%= render 'flash_messages' %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to(t('navigation.root'), root_path) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('navigation.rules') %></li>
  </ol>
</nav>
<div class="card">
  <div class="card-body">
    <ul class="list-unstyled">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Donec quis felis in erat faucibus porttitor.</li>
      <li>Cras vitae diam porta, rutrum felis at, elementum massa.</li>
    </ul>
  </div>
</div>
